<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <title>ConquerKill - The Web Game</title>
        <meta name="description" content="Conquer and Kill other enemies, or join forces and become stronger. Level up and become the best conqueror.">
        <link rel="icon" type="image/png" href="/logo.png">
        <meta property="og:type" content="website game">
        <meta property="og:url" content="">
        <meta property="og:title" content="ConquerKill - The Web Game">
        <meta property="og:image" content="/logo.png">
        <meta property="og:description" content="Conquer and Kill other enemies, or join forces and become stronger. Level up and become the best conqueror.">
        <meta property="og:site_name" content="ConquerKill - The Web Game">
        <meta property="og:locale" content="en_US">
        <meta name="twitter:card" content="Conquer and Kill other enemies, or join forces and become stronger. Level up and become the best conqueror.">
        <meta name="twitter:site" content="@kayleoss">
        <meta name="twitter:creator" content="@kayleoss">
        <meta name="twitter:url" content="">
        <meta name="twitter:title" content="ConquerKill - The Web Game">
        <meta name="twitter:description" content="Conquer and Kill other enemies, or join forces and become stronger. Level up and become the best conqueror.">
        <meta name="twitter:image" content="/logo.png">
        <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Freckle+Face|Spectral+SC" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet"href="/animate.css">  
        <link rel="stylesheet" href="/style.css"> 
        <script src="https://use.fontawesome.com/322528c53f.js"></script>  
        <script src="/wow.min.js"></script>   
        <script>
            var wow = new WOW(
            {
                boxClass:     'wow',     
                animateClass: 'animated',
                offset:       0,          
                mobile:       true,      
                live:         true,       
                callback:     function(box) {

                },
                scrollContainer: null 
            }
            );
            wow.init();
        </script>
    </head>
</html>
<noscript>This Web Game Requires JavaScript To Run. Please Enable Javascript In Your Browser Now.</noscript>