<% include partials/header %>
<% include partials/navbar %>
<div class="container main-container">
  <h1>How To Play <span class="underlined-text">ConquerKill</span></h1>
  <hr style="border-color:black">
  <span style="text-align:left">
  <p><span style="color:red">1)</span> Get started by <a href="/signup" style="color:red">creating an account</a>.</p>
  <p><span style="color:red">2)</span> After creating an account, you'll be at the 'Fighting Dashboard'. Take a look at the screenshot below. </p>
  <img src="/screenshot.png" style='width:50%'/>
  <p>On the left side, you'll find information about yourself. Your username, attack, defense, fightscore, coins, and weapons. Your fightscore will go up the more you fight other players.
    In the middle, you'll find other users. You can see their fightscore and weapons that they have equipped. Using the information you see, you can
    decide whether or not you want to fight them. On the right side, you'll see battles that have occurred. If anyone has fought you, you will see your username there as well as the outcome
    of the battle.
  </p>
  <p><span style="color:red">3)</span> Look at the top right corner and you'll see a dropdown menu. Click on the menu and you can find links to other useful pages of ConquerKill, including the weapons shop.
  Please see the image below.</p>
  <img src="/weapons-shop.png" style="width:50%"/>
  <p>You can buy weapons and shields here in order to increase your statistics and gain an advantage over other players. Each item for sale in the shop indicates the number of coins needed to purchase. You must have enough coins, which you 
    can earn by winning battles against other players. <br/><br/> PLEASE NOTE: When you buy a weapon or shield, you will lose the current weapon/shield you have and it will be swapped with the one you bought. 
  </p>
  <p><span style="color:red">4)</span> Battling other users is ver straightforward.</p>
  <img src="/verdict.png" style="width:50%"/>
  <p>
    In your fighting dashboard, you can see a list of users that you can battle. Click the fight button to attack another player. 
  The verdict of the battle is based heavily upon you and the player's statistics, and slightly upon luck. The winner receives 50 coins and 1 fightscore and the loser loses 50 coins and 1 fightscore. Therefore, try to WIN!</p>
</span>
</div>






<% include partials/footer %>
