<% include partials/header %>
<% include partials/user-navbar %>
    <div class="container weapons-shop">
        <h1>Weapons Shop</h1>
        <div class="row">
            <div class="col s12 m6">
                <p style="color:rgb(8, 207, 8)">Defense</p>
                <div class='row'>
                    <div class="col s12 m6">
                        <div class="weapon-green">
                            <p>Silver Shield</p>
                            <p>Cost: 1000 coins</p>
                            <p style="color:greenyellow">Defense: +15</p>
                            <img src="http://al-taiclub.com/images/metal-shield-clipart-6.png" />
                            <a href="/shop/silvershield" class="green btn small-words">Buy &amp; Equip</a>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="weapon-green">
                            <p>Stronghold Shield</p>
                            <p>Cost: 2000 coins</p>
                            <p style="color:greenyellow">Defense: +25</p>
                            <img src="http://pngimg.com/uploads/shield/shield_PNG1276.png" />
                            <a href="/shop/strongholdshield" class="green btn small-words">Buy &amp; Equip</a>
                        </div>
                    </div>
                </div> 
                <div class="row">
                    <div class="col s12 m6">
                        <div class="weapon-green">
                            <p>Dranik Shield</p>
                            <p>Cost: 3000 coins</p>
                            <p style="color:greenyellow">Defense: +35</p>
                            <img src="http://www.pngpix.com/wp-content/uploads/2016/11/PNGPIX-COM-Shield-PNG-Transparent-Image.png" />
                            <a href="/shop/dranikshield" class="green btn small-words">Buy &amp; Equip</a>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="weapon-green">
                            <p>Euphronos Shield</p>
                            <p>Cost: 10000 coins</p>
                            <p style="color:greenyellow">Defense: +50</p>
                            <img src="https://vignette.wikia.nocookie.net/camphalfbloodroleplay/images/1/12/Melyssa%27s_Shield.png/revision/latest?cb=20140112012914" />
                            <a href="/shop/euphronosshield" class="green btn small-words">Buy &amp; Equip</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <p style="color:red">Attack</p>
                <div class="row">
                    <div class="col s12 m6">
                        <div class="weapon">
                            <p>Mace of Euphronos</p>
                            <p>Cost: 1000 coins</p>
                            <p style="color:red">Attack: +15</p>
                            <img src="https://vignette.wikia.nocookie.net/mkwikia/images/6/63/Mace.png/revision/latest?cb=20110416184028" />
                            <a href="/shop/maceofeuphronos" class="red btn small-words">Buy &amp; Equip</a>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="weapon">
                            <p>Sword of Euphronos</p>
                            <p>Cost: 2000 coins</p>
                            <p style="color:red">Attack: +25</p>
                            <img src="http://www.freepngimg.com/thumb/sword/12-sword-png-image-thumb.png" />
                            <a href="/shop/swordofeuphronos" class="red btn small-words">Buy &amp; Equip</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 pull-right">
                        <div class="weapon">
                            <p>Dranik Greatsword</p>
                            <p>Cost: 3000 coins</p>
                            <p style="color:red">Attack: +35</p>
                            <img src="https://vignette.wikia.nocookie.net/finalfantasy/images/b/b9/FFXI_Great_Sword_12B.png/revision/latest?cb=20131208121213" />
                            <a href="/shop/dranikgreatsword" class="red btn small-words">Buy &amp; Equip</a>
                        </div>
                    </div>
                    <div class="col s12 m6 pull-right">
                        <div class="weapon">
                            <p>Greatsword Of Planet Earth</p>
                            <p>Cost: 10000 coins</p>
                            <p style="color:red">Attack: +50</p>
                            <img src="http://pngimg.com/uploads/sword/sword_PNG5526.png" />
                            <a href="/shop/swordofearth" class="red btn small-words">Buy &amp; Equip</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<% include partials/footer2 %>