<% include partials/header %>
<% include partials/user-navbar %>
    <div class="container main-container">
        <h1>Train</h1>
        <p>The citizens of Euphronos need your help</p>
        <hr style="border-color:black">
        <div class="row animals" style="margin: 3%">
            <div class="col s12 m6">
                <div class="custom-container">
                    <p>Wild Lion</p>
                    <img src="/lion.png"/>
                    <a href="/train/lion" class="red darken-4 btn">Fight</a>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="custom-container">
                    <p>Disgraced Elephant</p>
                    <img src="http://pngimg.com/uploads/elephants/elephants_PNG18801.png"/>
                    <a href="/train/elephant" class="red darken-4 btn">Fight</a>
                </div> 
            </div>    
        </div>
    </div>





<% include partials/footer2 %>