body{
    background: black;
    font-family:'Cinzel Decorative', cursive;
    font-size:16px;
    overflow-x:hidden;
}
nav{
    position: relative;
    background: transparent;
    box-shadow: none;
    font-family:'Spectral SC', serif;
    padding-top: 2rem;
    margin-bottom: 20px;
}
.btn{
    font-family:'Spectral SC', sans-serif;
}
.small-words{
    font-size:0.7em;
}
.bg-halfscreen{
    margin-top:0;
    height: 350px;
    background: url('http://s3.thingpic.com/images/Wr/SwcxkhzHeB3STgN8zWMFCYGx.jpeg');
    background-size:cover;
    background-position: center center;
}
.dropdown-content{
    background-color:black;
}
.dropdown-content li a{
    color:rgb(250, 244, 244);
}
.dropdown-content li:hover{
    background: rgb(53, 1, 1);
}
.brand-logo{
    width:5%;
    margin-left:2%;
    position: relative;
}
.brand-logo img{
    width:100%;
}
#footer-section{
    text-align:center;
    padding:3%;
}
#footer-section p{
    padding:3%;
    text-align:center;
    color:white;
    font-family:'Spectral SC', serif;
}
#footer-section a {
    color:rgb(143, 5, 5);
    text-decoration:underline;
}
#footer-section .btn-large {
    color:white;
    text-decoration:none;
    font-family:'Spectral SC', serif;
}
.scrollbar-top {
    width: 50%;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.btn-large {
    color:white;
    text-decoration:none;
    font-family:'Spectral SC', serif;
}
.underlined-text {
    border-bottom:3px solid rgb(119, 3, 3);
}
.relative {
    position: relative;
}
.z-index-first {
    z-index: 11111;
}
.red-border {
    border: 5px solid rgb(90, 1, 1);
}
.rounded-top-right {
    border-top-right-radius:  160px;
}
.rounded-bottom-right {
    border-bottom-right-radius:  160px;
}
.rounded-top {
    border-top-right-radius:  160px;
    border-top-left-radius:  160px;
}
.rounded-bottom {
    border-bottom-right-radius:  160px;
    border-bottom-left-radius:  160px;
}
.dark-border {
    border: 5px solid rgb(48, 48, 48);
}
.main-container {
    padding:2%;
    text-align:center;
    background:url('http://images.all-free-download.com/images/graphiclarge/old_paper_background_hd_picture_2_169574.jpg');
    background-size: cover;
    background-attachment: fixed;
    border-radius: 10px;
}
.main-container.negative-top {
    margin-top: -105px;
    padding-top: 100px;
    padding-bottom: 3rem;
}
.main-container p {
    font-family:'Spectral SC', serif;
    line-height:20px;
    font-size:1.4em;
}
.main-container img {
    width:100%;
    box-shadow:2px 2px 8px black;
}
.black-gutter {
    margin-top:-30%;
    width:100%;
}
.custom-container {
    padding:5% 4%;
    text-align:center;
    background: url('https://us.123rf.com/450wm/annavolotkovska/annavolotkovska1702/annavolotkovska170200040/71540980-.jpg?ver=6');
    background-size: cover;
    background-position: center left;
}
.custom-container-2 {
    height: 60vh;
    padding: 0.3rem 3rem 1rem 3rem;
    background: url('https://us.123rf.com/450wm/annavolotkovska/annavolotkovska1702/annavolotkovska170200040/71540980-.jpg?ver=6');
    background-size: cover;
    background-position: center left;
}
.custom-container img{
    width:100%;
}
input{
   color:white;
    font-family:'Spectral SC', sans-serif;
}
.white-h1{
    font-family:'Spectral SC', sans-serif;
    font-size:1em;
    color:white;
    text-align:center;
}
.mySlides{
    width:100%;
}

#radios{
    margin-bottom:2%;
}
.black-h1{
    color:black;
    font-family:'Spectral SC', sans-serif;
}
.main-h1 {
    font-size: 2rem;
}
.weapons-container img{
    width:40%;
}
.weapons-container p {
    font-size: 0.7rem;
}
.user-weapons img{
    width:50%;
    box-shadow:none;
}
.user-weapons p{
    font-size: 0.7em;
}
.weapons-shop{
    padding:3%;
    text-align:center;
    color:white;
    background:url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-279936.jpg');
    background-size:cover;
}
.weapons-shop img{
    padding:2%;
    width:50%;
}
.weapon{
    height:50vh;
    padding:4%;
    border:1px solid red;
    background-color:rgba(3, 3, 3, 0.6);
}
.weapon-green{
    background-color:rgba(3, 3, 3, 0.6);
    height:50vh;
    padding:4%;
    border:1px solid green;
}
.animals{
    padding: 3% 2%;
    text-align:center;
}
.animal-container{
    padding: 5% 0;
    border:1px solid black;
}
.animals p{
    color:red;
}
.animals img{
    width:60%;
    height:30vh;
    display:block;
    margin:0 auto;
    box-shadow:none;
}
.animals .btn{
    margin-top:15%;
}
.mt {
    margin-top: 2rem;
}
@media(min-width: 1100px) {
    .padded-image {
        padding-left: 20%;
        padding-right: 20%;
    }
    .negative-margin-top {
        margin-top: -200px;
        z-index: 10;
    }
    .mySlides {
        height: 290px;
    }
    .large-text {
        font-size: 4.5rem;
    }

}
@media (max-width:768px){
    .main-container h1{
        font-size:2em;
    }
    nav{
        width:100%;
    }
    .brand-logo{
        display:none;
    }
    .brand-logo img{
        display:none;
    }
}